<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trackhealth"
        tools:targetApi="31">
        <activity
            android:name=".LabAssistant"
            android:exported="false" />
        <activity
            android:name=".Patient_ListRecyview_inDoctor"
            android:exported="false" />
        <activity
            android:name=".image_Activity_exerciseGyan"
            android:exported="false" />
        <activity
            android:name=".Exercisegyan_second2"
            android:exported="false" />
        <activity
            android:name=".Knowledgegyan"
            android:exported="false" />
        <activity
            android:name=".Patient_profile_editpage"
            android:exported="false" />
        <activity
            android:name=".User_prescription_activity_page"
            android:exported="false" />
        <activity
            android:name=".user_report_homepage"
            android:exported="false" />
        <activity
            android:name=".HomePage_Patient"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Register_process"
            android:exported="false"
            android:theme="@style/Theme.Register_process" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPatientPage"
            android:exported="false" />
        <activity
            android:name=".HomePage_Doctor"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".DescriptionPage"
            android:exported="false"
            android:theme="@style/Theme.StartFragment" />
        <activity
            android:name=".RegisterPage"
            android:exported="false"
            android:theme="@style/Theme.RegisterPage" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Loginpage" />
    </application>

</manifest>